{{define "layouts/article"}}
    <div class="js-mapped-ad mapped-ad mapped-leader_top-dart" style="min-height: 3rem"></div>
    <div>
    这里是测试文章这里是测试文章这里是测试文章这里是测试文章这里是测试文章这里是测试文章这里是测试文章这里是测试文章这里是测试文章
    </div>
{{end}}