{{define "includes/header"}}
<!DOCTYPE html>
<html lang="en">
<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->

<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->

<!--[if !IE]><!--> <html lang="en" class="no-js"> <!--<![endif]-->

<!-- BEGIN HEAD -->

<head>

    <meta charset="utf-8" />

    <title>{{.title}}</title>

    <meta content="width=device-width, initial-scale=1.0" name="viewport" />

    <meta content="" name="description" />

    <meta content="" name="author" />
    <link rel="stylesheet" type="text/css" href="/public/css/review.css">
    <link id="skin-color" rel="stylesheet" href="https://gamespot1.cbsistatic.com/vc0edbb12505e9b1e7df0caec4bb6427f/bundles/gamespotsite/css/gamespot_white.css">
</head>

<!-- END HEAD -->

<!-- BEGIN BODY -->

{{/*<body class="page-header-fixed">*/}}
{{/*<div id="kubrick-lead" class="kubrick kubrick-lead kubrick-lead--gamespace kubrick-lead--has-subnav is-dark" style="background-image: url(https://gamespot1.cbsistatic.com/uploads/screen_kubrick_large_wide/536/5360430/2889370-dsiii_fdp_ss_002.jpg)">*/}}
{{/*    <div class="kubrick-overlay">*/}}
{{/*        <div class="kubrick-curtains">                <div class="kubrick-content container row">*/}}
{{/*                <div class="kubrick-info span12">*/}}
{{/*                    <div class="gameObject">*/}}
{{/*                        <div class="gameObject__wrapper">*/}}
{{/*                            <div class="gameObject__img">*/}}
{{/*                                <div class="img imgflare--boxart"><img src="https://gamespot1.cbsistatic.com/uploads/scale_tiny/1197/11970954/2976798-sss91mcjvyj85l._sl1500_.jpg" alt="Dark Souls III"></div>*/}}
{{/*                            </div>*/}}
{{/*                            <div class="gameObject__info">*/}}
{{/*                                <h2 class="gameObject__title">*/}}
{{/*                                    <a href="https://www.gamespot.com/games/dark-souls-iii/" class="wiki-title js-event-tracking" itemprop="url" data-event-tracking="Tracking|games_review_list|Kubrick|Title">Dark Souls III</a>*/}}
{{/*                                </h2>*/}}
{{/*                                <div class="gameObject__description">*/}}

{{/*                                    <ul class="kubrick-info__releasedate">*/}}
{{/*                                        <li>      First Released <span>Apr 12, 2016</span>*/}}

{{/*                                            <div class="dn"><span id="_qualtrics_release_indicator">released</span></div>*/}}

{{/*                                        </li>*/}}
{{/*                                    </ul>*/}}




{{/*                                    <ul class="system-list"><li class="system system--xone  "><span itemprop="device">XONE</span></li><li class="system system--ps4  "><span itemprop="device">PS4</span></li><li class="system system--pc  "><span itemprop="device">PC</span></li></ul>*/}}
{{/*                                    <div class="stacks stacks--flare" data-post-render-value="438502"><div class="js-pop-over-parent"><div class="stacks-action"><span class="stacks-action__container js-pop-over-toggle" data-pop-over="421292479"><span class="stacks-action__symbol"><i><svg version="1.1" width="22" height="28" viewBox="0 0 22 28" aria-hidden="true" class="symbol symbol-plus"><path d="M22 11.5v3q0 0.625-0.438 1.062t-1.062 0.438h-6.5v6.5q0 0.625-0.438 1.062t-1.062 0.438h-3q-0.625 0-1.062-0.438t-0.438-1.062v-6.5h-6.5q-0.625 0-1.062-0.438t-0.438-1.062v-3q0-0.625 0.438-1.062t1.062-0.438h6.5v-6.5q0-0.625 0.438-1.062t1.062-0.438h3q0.625 0 1.062 0.438t0.438 1.062v6.5h6.5q0.625 0 1.062 0.438t0.438 1.062z"></path></svg></i></span><span>Follow</span></span></div></div></div>*/}}
{{/*                                </div>*/}}
{{/*                            </div>*/}}
{{/*                        </div>*/}}
{{/*                    </div>*/}}



{{/*                    <div class="reviewObject">*/}}
{{/*                        <div class="reviewObject__wrapper">*/}}
{{/*                            <dl class="reviewObject__gs">*/}}
{{/*                                <dt class="reviewObject__score">*/}}
{{/*                                    <a href="https://www.gamespot.com/reviews/dark-souls-3-review/1900-6416397/">*/}}
{{/*                                        <img src="https://gamespot1.cbsistatic.com/bundles/phoenixsite/images/core/loose/logo-gs-mono.png" alt="Gamespot Score">*/}}
{{/*                                        <div class="gs-score  gs-score--medium score-8"><div class="gs-score__clip"><div class="gs-score__pie gs-score__spinner"></div></div><div class="gs-score__clip gs-score__clip2"><div class="gs-score__pie gs-score__filler"></div></div><div class="gs-score__inner"><div class="gs-score__table"><div class="gs-score__cell"><span aria-label="Review score 8" tabindex="0">8</span></div></div></div></div>          </a>*/}}
{{/*                                </dt>*/}}
{{/*                                <dd class="reviewObject__meta">*/}}
{{/*                                    <a href="/reviews/dark-souls-3-review/1900-6416397/">*/}}

{{/*                                        <span class="reviewObject__scoreWord">Great</span>*/}}
{{/*                                        <span class="reviewObject__read">Check out the review</span>*/}}
{{/*                                    </a>*/}}
{{/*                                </dd>*/}}
{{/*                            </dl>*/}}
{{/*                            <dl class="reviewObject__metacritic">*/}}
{{/*                                <dt>Metacritic</dt>*/}}
{{/*                                <dd><a href="http://www.metacritic.com/game/pc/dark-souls-iii?ftag=MCD-06-10aaa1h/critic-reviews" target="_blank">89</a></dd>*/}}
{{/*                            </dl>*/}}
{{/*                            <dl class="reviewObject__userAvg">*/}}
{{/*                                <dt>User Avg</dt>*/}}
{{/*                                <dd>*/}}
{{/*                                    <a href="/games/dark-souls-iii/reviews/">*/}}
{{/*                                        8.4*/}}
{{/*                                    </a>*/}}
{{/*                                </dd>*/}}
{{/*                            </dl>*/}}
{{/*                        </div>*/}}
{{/*                    </div>*/}}
{{/*                </div>*/}}
{{/*            </div>*/}}
{{/*        </div>*/}}
{{/*        <div class="kubrick-curtains kubrick-curtains--bottom"></div>    </div>*/}}
{{/*</div>*/}}
{{end}}