{{define "includes/subnav"}}
<nav class="subnav subnav-mobile subnav--flex ">
    <div class="container row">
        <div class="span12">
      <span class="subnav-toggle js-dropnav-toggle">
        <a>
          <i><svg version="1.1" width="28" height="28" viewBox="0 0 28 28" aria-hidden="true" class="symbol symbol-reorder"><path d="M24 21v2q0 0.406-0.297 0.703t-0.703 0.297h-22q-0.406 0-0.703-0.297t-0.297-0.703v-2q0-0.406 0.297-0.703t0.703-0.297h22q0.406 0 0.703 0.297t0.297 0.703zM24 13v2q0 0.406-0.297 0.703t-0.703 0.297h-22q-0.406 0-0.703-0.297t-0.297-0.703v-2q0-0.406 0.297-0.703t0.703-0.297h22q0.406 0 0.703 0.297t0.297 0.703zM24 5v2q0 0.406-0.297 0.703t-0.703 0.297h-22q-0.406 0-0.703-0.297t-0.297-0.703v-2q0-0.406 0.297-0.703t0.703-0.297h22q0.406 0 0.703 0.297t0.297 0.703z"></path></svg></i> Game Info
        </a>
      </span>
            <ul class="subnav-list subnav-list-count-7">

                <li class="subnav-list__item subnav-list__item-primary ">
                    <a href="/games/dark-souls-iii/">
                        <img src="https://gamespot1.cbsistatic.com/uploads/square_mini/1197/11970954/2976798-sss91mcjvyj85l._sl1500_.jpg" alt="Dark Souls III" itemprop="image">
                        <span>Dark Souls III</span>
                    </a>
                </li>

                <li class="subnav-list__item active">
                    <a href="/games/dark-souls-iii/reviews/">Reviews</a>
                </li>

                <li class="subnav-list__item ">
                    <a href="/games/dark-souls-iii/news/">News &amp; Features</a>
                </li>

                <li class="subnav-list__item ">
                    <a href="/games/dark-souls-iii/images/">Images</a>
                </li>

                <li class="subnav-list__item ">
                    <a href="/games/dark-souls-iii/videos/">Videos</a>
                </li>

                <li class="subnav-list__item "><a href="/games/dark-souls-iii/cheats/">Cheats &amp; Guides </a></li>

                <li class="subnav-list__item "><a href="/games/dark-souls-iii/forums/">Forum </a></li>
            </ul>
        </div>
    </div>
</nav>
<div class="js-mapped-ad mapped-ad mapped-leader_top-dart" style="min-height: 3rem">

</div>
{{end}}