/* MOBILE FIRST */
body, html { margin: 0px; padding: 0px; font-family: 'ars-maquette-web', sans-serif; text-rendering: optimizeLegibility; -moz-osx-font-smoothing: grayscale; -webkit-font-smoothing: antialiased; }
body, html { overflow-x: hidden }
body, header { padding-top: 0px; }

/* Adtech Skin support */
body.hasSkin section.vspotlight, body.hasSkin section.popular, body.hasSkin section.broll, body.hasSkin section.stripe, body.hasSkin .hspotlight, body.hasSkin .list-content, body.hasSkin .wrap {   max-width: 1240px; padding: 8px 10px; }
body.hasSkin section.broll, body.hasSkin section.wrap.videofeatured { padding-left: 10px; padding-right: 10px; background-color: #FFF; }
body.hasSkin section.stripe { padding-left: 10px; padding-right: 10px; margin: 0px auto; }
body.hasSkin .page-content { max-width: 1240px; margin: 0 auto; background-color: #FFF; padding-top: 5px; }
body.hasSkin section.hero article { width: 1240px; max-width: 1240px; background-position: center; background-repeat: no-repeat; }
body.hasSkin section.hero { margin: initial; }
body.hasSkin .herogrid { padding: 10px; }
body.hasSkin .spacer { display: none; }

header { position: fixed;  width: 100vw; text-rendering: optimizeLegibility; -webkit-font-smoothing: antialiased; top: 0px; background-color: #FFF; z-index: 10; }

#ignheader { margin: 0px auto; height: 44px; position: relative; padding: 8px 0px 7px 0px; box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.08); }
#ignheader #chksearch { position: absolute; top: 10px; right: 10px; height: 40px; width: 40px; cursor: pointer; opacity: 0; z-index: 900; -webkit-touch-callout: none; }
#ignheader #chksearch:checked { right: 125px; z-index: 99999; }
#ignheader #chksearch:checked ~ #search-modal-container { display: block; }
#ignheader .editions { height: 200%;}
#ignheader .editions p { display: block; margin: 0px; padding: 0px; font-size: 24px; vertical-align: top; line-height: 32px; margin-left: 5px; font-family: 'ars-maquette-web', sans-serif; color: #252627; }
#ignheader .editions ul { display: none; margin: 0px; padding: 25px 18% 25px 36%; width: 118%; top: 96px; left: -36%; background-color: #f4f4f4; list-style-type: none; position: absolute; z-index: 10; box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.08); border: 1px solid rgba(37, 38, 39, 0.15); }
#ignheader .editions ul li { display: inline-block; width: 220px; height: 18px; vertical-align: top; margin: 0px; padding: 8px 30px; font-size: 16px; color: #252627; font-weight: 500; line-height: 18px; }
#ignheader .editions ul li.big { margin: 0px !important;}
#ignheader .editions ul li:last-child { display: block; clear: both; margin: 0px auto; }
#ignheader .editions ul span.language { display: inline-block; width: 40px; color: #bf1313; font-size: 18px; line-height: 18px; }
#ignheader .editions ul span.option { display: inline-block; line-height: 18px; }
#ignheader .editions ul span.option a { color: #252627; text-decoration: none;}
#ignheader #search-modal-container { position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; background: #ffffff; display: none; }
#ignheader .search-modal { height: 100%; display: flex; -webkit-box-pack: justify; justify-content: space-between; background-color: #ffffff; -webkit-box-align: center; align-items: center;}
#ignheader .search-modal .search-input #search-input { background-color: transparent; color: #252627; font-size: 1em; font-weight: bold; height: 100%; letter-spacing: -0.5px; line-height: 1; outline-style: none; border-width: 0px; border-style: initial; border-color: initial; border-image: initial; font-size: 2.75em; color: #aaa; margin-left: 24px; width: 100%; }
#ignheader #search-modal-container.active { display: block; z-index: 999; }
#ignheader #search-close { margin-right: 10px; }

a { text-decoration: none; }
.wrap { max-width: 1200px; margin-left: auto; margin-right: auto; padding-left: 15px; padding-right: 15px;}

section#js { position: absolute; bottom: 0px; left: 0px; width: 1px; height: 1px; overflow: hidden; }
#gheader, section.stripe { background-color: #f5f5f5; box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.18); padding: 18px 0px; transition: padding 0.1s linear 0s; overflow: hidden; border-top: 1px solid #d1d5db;}
section.stripe { padding: 12px 0px; margin-bottom: 0px;}
svg.ign-logo { height: 33px; width: auto;}

#ign-logo-wrap { position: absolute; left: 50%; transform: translate(-50%); top: 25%; z-index: 500; }

div.logodate { font-size: 20px; font-weight: 700; max-width: 280px; display: none; vertical-align: middle; height: 44px; }
.right-rail { display: none; }
.extramenu {  cursor: pointer;}
.selector .more { display: none; }
.selector.active .more { display: block; }
.region { display: block; padding-bottom: 10px; text-align: center; font-size: 30%; }
.editions.desktop { display: none; }
.dropdown-arrow .icon-down-arrow {stroke: #bf1313; }
.filterlist { padding: 0; margin: 0; }

#loginwrapper { display: none; }
#logomenu { position: fixed; top: 0; left: 0; background: #fff; height: 100%; width: 100%; overflow-y: scroll; overflow-x: visible; -webkit-transition: opacity 300ms ease,visibility 0s ease 300ms; transition: opacity 300ms ease,visibility 0s ease 300ms; transition-delay: 0s, 300ms; -webkit-box-shadow: 0 2px 34px 0 rgba(0, 0, 0, 0.15); box-shadow: 0 2px 34px 0 rgba(0, 0, 0, 0.15); margin: -135px 0 0 -50px; padding: 50px; padding-top: 125px; transform-origin: 0% 0%; transform: translate(-100%, 0); transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);}
#logomenu li { border-top-color: rgba(37, 38, 39, 0.15); border-top-style: solid; border-top-width: 2px; display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -webkit-justify-content: space-between; -ms-flex-pack: justify; justify-content: space-between; margin: 0; }
#logomenu li.browse-ign { color: #252627; font-weight: 900; font-size: 1.5em; line-height: 1.17; padding: 16px; border-top: 0; }
#logomenu li a { color: #252627; font-size: 0.9em; width: 100%; display: inline-block; text-transform: capitalize; white-space: pre; padding: 16px;}
ul#logomenu li.search,
ul#logomenu li.myign { display: flex; padding: 16px; }

.toggletopmore, ul#logomenu li.more { display: none; }
.toggletopmore { cursor: pointer; }
.toggletopmore.active { color: #bf1313; }
.toggletopmore.active .dropdown-arrow .icon-down-arrow { stroke: #bf1313; -webkit-transform: rotate(-180deg); -ms-transform: rotate(-180deg); transform: rotate(-180deg); }

#logomenu li.myLogin { display: none; }
ul#logomenu li:nth-child(n+8) { display: none; }
ul#logomenu li.extramenu:nth-child(n+8) { display: block; }
ul#logomenu li.extramenu { display: block; }
.search-modal .button { display: none; }
.search-modal .search-input #search-input { font-size: 20px!important; }
#search-modal-container .page-content { top: 18%; }
.menu-editions { display: block!important; text-align: center!important; line-height: 60px; }
.dropdown-arrow { margin-left: 5px; background: none; }
.dropdown-arrow .icon-down-arrow { display: inline-block; font-size: 9px; vertical-align: middle; transition: transform .1s linear; -webkit-transform: rotate(0); -ms-transform: rotate(0); transform: rotate(0); stroke: #252627;}
.browse-ign-label { display: block;}
#headermenuwrapper { position: static; width: 100%;}
#headermenuwrapper #menuToggle { padding: 15px;}
#headermenuwrapper input { display: block; width: 40px; height: 40px; position: absolute; top: -7px; left: -5px; cursor: pointer; opacity: 0; z-index: 9999; -webkit-touch-callout: none; }
#headermenuwrapper #menuToggle span { display: block; width: 22px; height: 2px; margin-bottom: 4px; position: relative; background: #000; border-radius: 3px; z-index: 1; transform-origin: 4px 0px; transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;}
#headermenuwrapper #menuToggle span:first-child { transform-origin: 0% 0%; }
#headermenuwrapper #menuToggle span:nth-last-child(2) { transform-origin: 0% 100%;}
#toploginm { width: 80%; margin: 0 auto; text-align: center; display: block; padding: 8px 20px 8px 20px; color: #FFF; border-radius: 4px; background-color: #bf1313; font-weight: bold; line-height: 1em;}
#toploginm a.lightbox.main { color: #FFF; line-height: 1em; padding: 0;}
#toploginm div.usermenu { display: none; }
#toploginm img.userIcon { height: 36px; border-radius: 50%; vertical-align: middle; }
#toploginm .loggedin a { font-size: 18px;}
.myLogin { background-color: #f4f4f4; padding: 18px; }
#headerlogo { max-width: 120px; }
#headermenuwrapper { font-size: 20px; color: #252627; list-style-type: none; text-align: right; margin: 0px; padding: 0px; position: absolute; right: 0px; white-space: nowrap; }
#headermenuwrapper.menuDisplay { z-index: 501; }
#headermenuwrapper.menuDisplay #logomenu { transform: none; }
#headermenuwrapper.menuDisplay #menuToggle { cursor: pointer; float: right; padding-top: 10px; height: 40px; }
#headermenuwrapper.menuDisplay #menuToggle span { opacity: 1; transform: rotate(45deg) translate(-2px, -1px); }
#headermenuwrapper.menuDisplay #menuToggle span:nth-last-child(3) { opacity: 0; }
#headermenuwrapper.menuDisplay #menuToggle span:nth-last-child(2) { transform: rotate(-45deg) translate(-11px, 11px); }
#headermenuwrapper.menuDisplay #searchwrapper { display: none; }
#logomenu > li, #searchwrapper > li, #loginwrapper > li { vertical-align: middle; text-align: left; margin-left: 20px; }

#searchwrapper { position: absolute; right: 0; top: 10px; }


#searchwrapper li.search > svg { display: block; height: 32px; cursor: pointer; padding-right: 10px; }
#searchwrapper { display: inline-block; vertical-align: middle; height: 44px; padding: 0; margin: 0; list-style: none; line-height: 40px; }
#gheader { display: none; visibility: hidden; }
#gheader ul { padding: 0 120px; height: 20px; margin: 0px auto; display: flex; max-width: 1200px; }
#gheader li { display: inline-block; flex-grow: 1; text-align: center; border-right: 1px solid rgba(37, 38, 39, 0.15); text-overflow: ellipsis; overflow: hidden; }
#gheader li a { color: #252627; font-size: 14px; line-height: 17px; height: 17px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; text-decoration: none; }
#gheader li:last-child { border-right: 0px; }
#topmore { display: none; position: absolute; top: 60px; left: 0px; width: 100%; min-height: 0px; overflow: hidden; box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.08); transition: height 0.2s linear 0s; height: 0px; background-color: #f4f4f4; border: 1px solid rgba(37, 38, 39, 0.15); top: 96px; }
#topsearchbar { display: none; }
#ul_nav { display: none; }
#toplogin a.lightbox.main,
#toplogin a.logout { display: block; padding: 8px 20px 8px 20px; color: #FFF; border-radius: 4px; background-color: #bf1313; font-weight: bold; line-height: 1em; text-align: center; }
#toplogin div.usermenu { display: none; }
#toplogin div.usermenu ul { list-style-type: none; position: absolute; background-color: #f4f4f4; padding: 0; border-radius: 2.4px; box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.08); border: 1px solid rgba(37, 38, 39, 0.15); z-index: 1; top: 100%; flex-direction: column; min-width: 250px; margin-left: -110px; }
#toplogin div.usermenu ul:after { border: solid transparent; content: " "; height: 0; width: 0; position: absolute; pointer-events: none; border-bottom-color: #f4f4f4; border-width: 5px; right: 116px; bottom: 100%; }
#toplogin div.usermenu ul:before { border: solid transparent; content: " "; height: 0; width: 0; position: absolute; pointer-events: none; border-bottom-color: rgba(37, 38, 39, 0.15); border-width: 6px; right: 115px; bottom: calc(101%); }
#toplogin div.usermenu ul li { padding: 12px; }
#toplogin div.usermenu ul li a { font-size: 16px; }
#toplogin div.usermenu ul li:last-child { border-top: 1px solid rgba(37, 38, 39, 0.15); }
#toplogin div.usermenu ul li:first-child { border-top: 0px; }
#loginwrapper:hover #toplogin.loggedin div.usermenu { display: block; }
#toplogin img.userIcon { height: 36px; border-radius: 50%; vertical-align: middle; margin-right: 10px; }
#toplogin .loggedin a { font-size: 18px; }
#toplogin a { color: #252627; }
#topmore.active, #topsearchbar.active { display: block; height: auto; }
#topmore div.wrap { display: table; width: 100%; min-height: 200px; margin-top: 25px; }
#topmore div.col { display: table-cell; vertical-align: top; width: 13%; position: relative; padding-left: 10%; }
#topmore div.col b { color: #bf1313; text-transform: uppercase; font-size: 16px; font-family: ff-din-round-web-pro, sans-serif; font-weight: bold; letter-spacing: .8px; margin: 0 0 12px 0; }
#topmore div.col.browseabout { width: 25%; border-right: 1px solid rgba(37, 38, 39, 0.2); padding-left: 0px; padding-right: 4%; }
#topmore div.col.browseabout li { max-width: 49%; }
#topmore div.col ul { margin: 0px; padding: 0px; list-style-type: none; }
#topmore div.col ul li { display: block; vertical-align: top; padding: 0px; margin: 0px; height: 36px; color: #252627; font-size: 20px; line-height: 36px; overflow: hidden; text-overflow: ellipsis; }
#topmore div.col ul li a { color: #252627; }
#topmore div.wrap.legal { display: block; padding: 20px; min-height: 25px; }
#topmore div.legal .licensee { display: block; font-size: 15px; vertical-align: top; }
#topmore div.legal .licensee a { color: #252627; }
#topmore div.legal .zdworld { display: block; height: 25px; float: left; margin: 5px 10px 0px 0px; }
.selector { color: #bf1313; text-transform: uppercase; font-weight: bold; padding: 0px 0px 0px 0px; border-top: 2px solid rgba(37, 38, 39, 0.15); overflow: hidden; font-size: 16px; }
.selector .col ul { font-size: 20px; font-weight: normal; margin: 0; padding: 0; background-color: rgba(37, 38, 39, 0.05); }
.selector .subtitle { padding: 10px ; line-height: 50px; }
footer { display: none; }
#footer.limitedScroll { display: block; background: #F5F5F5; padding: 4px; font-size: small; text-align: center; }
#footer.limitedScroll a { color: #BF1313; }
a.commentscount:before { content: url('http://www.ign.xn--fiqs8s/s/ign/playButton.svg/s/ign/comments.svg'); display: inline-block; vertical-align: middle; margin-left: 10px; margin-right: 5px; }
ul#globalheader li:nth-child(n+5) { display: none; }
ul#logomenu li.more, ul#logomenu li.search, ul#logomenu li.myign { display: none; }
#headermenuwrapper input { display: none; }
#toploginm { display: none; }
.search-input { flex: 1 1 auto; width: auto; }
.page-content { position: relative; top: 18%; }
.button-primary { background-color: #bf1313; border-radius: 4px; color: #fff; cursor: pointer;  font-size: 20px; font-weight: bold; letter-spacing: -0.5px; white-space: nowrap; padding: 8px 20px 8px 20px; border: 0; }


/* Broll */
div.tbl { display: table; position: relative; margin-right: 320px; }
section.broll.hasAd div.adk2 { position: absolute; right: 0px; width: 300px; }
section.broll { display: block; padding: 25px 0px; margin: 0px auto; background-color: #FFF; }
section.broll + section.broll { padding: 0px; }
section.broll > h2 { border-bottom: solid 1px rgba(37, 38, 39, 0.15); }
section.broll article { display: table-row; position: relative; margin-left: 0px; }
section.broll div.t { display: table-cell; width: auto; box-sizing: border-box; vertical-align: top; width: 25%; max-width: 280px; margin: 0px; position: relative; }
section.broll div.m { display: table-cell; vertical-align: top; padding: 0px 20px; width: 75%; box-sizing: border-box; }
section.broll div.m, section.broll div.t { padding-top: 25px; padding-bottom: 25px; border-bottom: solid 1px rgba(37, 38, 39, 0.15); }
section.broll img.thumb { display: block; width: 100%; border-radius: 4px; max-height: 160px; max-width: 280px; object-fit: cover; }
section.broll h3 { margin: 6px 0px; }
section.broll h3 a { font-size: 18px; line-height: 20px; font-weight: 700; margin: 0; color: #252627; text-decoration: none; }
section.broll h3 a:hover { text-decoration: underline; }
section.broll div.m time, section.broll div.m a.comments { font: 14px 'ff-din-round-web-pro', sans-serif, bold; line-height: 18px; color: #bf1313;  text-decoration: none; }
section.broll .thumb.score-wrapper .article_type { position: absolute; bottom: 0; left: 0; padding: 2px 5px; font-size: 13px; background-color: #bf1313; color: #FFF; margin: 0 0 10px 6px; border-radius: 4px; }
section.broll img.thumb:hover { opacity: 0.85; }
section.broll div.m > p { display: block; margin: 0px; }
section.broll .videobtn { position: absolute; background-color: #bf1313; color: #FFF; width: 52px; height: 52px; margin-top: -70px; margin-left: -6px; box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1); border: solid 2px rgba(0, 0, 0, 0.1); padding: 9px; }
section.broll article.VIDEO > a:after { content: url('http://www.ign.xn--fiqs8s/s/ign/playButton.svg'); position: absolute; bottom: 2px; left: 2px; }

/* Blogroll video play button */
section.broll .video .duration { background-color: #bf1313; border-radius: 4px; bottom: 0; left: 0; margin: 0 0 10px 6px; position: absolute; box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1); border: solid 2px rgba(0, 0, 0, 0.1); display: flex; padding: 5px; }
section.broll .video .duration-text { color: #fff; font-family: 'ff-din-round-web-pro', sans-serif; font-weight: bold; letter-spacing: 1px; align-self: flex-end; }
section.broll .video .icon-playhead { background-size: 100%; height: 1em; width: 1em;  margin: 0 8px 0 0; font-size: 22px; line-height: 22px; align-self: center; }




/* Scoring */
.hexagon-wrapper.side-wrapper .hexagon.side-wrapper { height: 50%; left: 6.7%; position: relative; top: 25%; width: 86.6%; z-index: 2; }
.hexagon-wrapper.side-wrapper .hexagon.side-wrapper,
.hexagon-wrapper.side-wrapper .hexagon.side-wrapper:after,
.hexagon-wrapper.side-wrapper .hexagon.side-wrapper:before { background-color: #bf1313; }
.hexagon-wrapper.side-wrapper .hexagon.side-wrapper:before { -webkit-transform: scale(1, 0.579) translate(70.71136%, -70.71136%) rotate(45deg); -ms-transform: scale(1, 0.579) translate(70.71136%, -70.71136%) rotate(45deg); transform: scale(1, 0.579) translate(70.71136%, -70.71136%) rotate(45deg); }
.hexagon-wrapper.side-wrapper .hexagon.side-wrapper:after { -webkit-transform: scale(1, 0.579) translate(70.71136%, 70.71136%) rotate(45deg); -ms-transform: scale(1, 0.579) translate(70.71136%, 70.71136%) rotate(45deg); transform: scale(1, 0.579) translate(70.71136%, 70.71136%) rotate(45deg); }



.hexagon-wrapper.side-wrapper .hexagon.side-wrapper:after, .hexagon-wrapper.side-wrapper .hexagon.side-wrapper:before { content: ''; display: block; height: 122.46%; position: absolute; -webkit-transform-origin: 0 0; -ms-transform-origin: 0 0; transform-origin: 0 0; width: 70.71%; z-index: 1; }
.hexagon-wrapper.side-wrapper .hexagon-content.side-wrapper { color: #fff; font-family: 'ff-din-round-web-pro', sans-serif !important; text-transform: uppercase; margin: 0.2em 0 0 0; }
.hexagon-wrapper.side-wrapper { font-size: 2rem; margin: 0; position: relative; height: 2.7em; width: 2.7em; min-width: 2.7em; display: inline-block; }
.score-wrapper { position: relative; display: block; }
.score-wrapper .video-duration,
.score-wrapper .review-score { position: absolute; bottom: 0; left: 0; margin: 24px; z-index: 2; }
.hexagon-wrapper.side-wrapper .hexagon-content-wrapper.side-wrapper { align-items: center; display: flex; height: 100%; justify-content: center; position: absolute; width: 100%; z-index: 3; }
.little { height: 2em!important; width: 2em!important; min-width: 2em!important; font-size: 1.5rem!important; margin: 10px!important; }


/* Adtech */
#adkit_billboard, #adkit_footer { margin: 12px auto; max-width: 1240px; text-align: center; }
div.zad { transition: height 0.2s; margin: 12px auto; text-align: center; max-width: 1240px; }
div.zad.billboard, #adkit_billboard { margin-top: 80px; }
#BackendInPageMenu {  display: none; }
.adkit iframe { max-width: 100% }

@media (max-width: 1600px) {
    body.hasSkin section.vspotlight, body.hasSkin section.popular, body.hasSkin section.broll, body.hasSkin section.stripe, body.hasSkin .hspotlight, body.hasSkin .list-content, body.hasSkin .wrap { max-width: 1098px; padding: 8px 10px; }
    body.hasSkin .page-content { max-width: 1098px; }
    body.hasSkin section.hero article { width: 1098px; max-width: 1098px; }
}

@media (max-width: 1200px) {
    body.hasSkin section.hero article { width: initial; }
}

/* DESKTOP */
@media (min-width: 930px) {
    body { padding-top: 152px; }
    body, html { overflow-x: unset }
    div.logodate { font-size: 20px; font-weight: 700; max-width: 280px; display: inline-block; vertical-align: middle; height: 44px; }
    #ignheader { max-width: 1200px; margin: 0px auto; height: 44px; position: relative; padding: 26px 0px; box-shadow: none; }
    #gheader { display: block; visibility: unset; }
    #ign-logo-wrap { display: inline-flex; position: static; transform: none; }
    #headermenuwrapper { font-size: 20px; color: #252627; list-style-type: none; text-align: right; margin: 0px; padding: 0px; position: absolute; right: 0px; white-space: nowrap; width: unset; }
    #headermenuwrapper #menuToggle span { display: none; }
    #headermenuwrapper #menuToggle { padding: 0px; }
    #headerlogo, #logomenu, #searchwrapper, #loginwrapper { display: inline-block; vertical-align: middle; height: 44px; padding: 0; margin: 0; position: static; }
    ul#logomenu li a { padding: 0; }
    ul#logomenu { position: static; display: inline-block; vertical-align: middle; height: 44px; padding: 0; margin: 0; transform: none; overflow: hidden; box-shadow: none; background: transparent; line-height: normal; width: auto; }
    ul#logomenu li {border: none; }
    ul#logomenu > li, #searchwrapper > li, #loginwrapper > li { display: inline-block; }
    ul#logomenu li:nth-child(n+8) { display: none; }
    ul#logomenu li.extramenu:nth-child(n+8) { display: none; }
    ul#logomenu li.more, ul#logomenu li.search, ul#logomenu li.myign { display: inline-block; }
    #searchwrapper { line-height: 34px; }
    #searchwrapper li.search > svg { padding-right: 0px; }
    header.small { border-bottom: 1px solid #d1d5db; box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.08); }
    header.small #ignheader { padding: 8px 0px 7px 0px; }
    header.small #gheader { padding: 0px; height: 0px; visibility: hidden; }
    header.small #topmore, header.small #ignheader .editions ul { top: 59px; }
    ul#logomenu li.extramenu { display: none; }
    .right-rail { display: block; }
    .browse-ign-label { display: none; }
    .region { display: none; }
    .editions.desktop { display: block; }
    div.zad.billboard { margin-top: 12px; }


}

/* LARGE SCREEN */
@media (min-width: 1281px) {
    svg.ign-logo { height: 44px; }
    #headerlogo { max-width: 150px; }
    #ignheader .editions p { font-size: 28px; line-height: 44px; }
}

@media (min-width: 1921px) {
    #ignheader .editions p { font-size: 28px; line-height: 44px; }
    #ignheader .editions ul { position: fixed; left: 0px; width: 100%; box-sizing: border-box; padding: 25px 20%; }
}

.bridge.bridgewrapper{ border: 0; background-color: #d1d5db; height: 1px; width: 96%; margin-left: 6px; }

.index-badge.featured.badge-inside { border-color: #bf1313; background-color: #bf1313;}
.index-badge.featured.badge-round { color: white;}
.index-badge.badge-inside { color: #000; border-color: #000; }
.index-badge.badge-round { display: -webkit-box; display: -ms-flexbox; display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; -webkit-align-items: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -ms-flex-pack: center; -webkit-box-pack: center; -webkit-justify-content: center; -ms-flex-pack: center; justify-content: center; margin-right: 12px; border: 2px solid; border-radius: 50%; width: 32px; height: 32px; padding: 6px; font-weight: bold; font-size: 14px; font-family: 'ff-din-round-web-pro',sans-serif; margin-left: 6px; min-width: 32px;}
.item-blurb.badge-round { width: 100%; font-size: 16px; line-height: 1.38; color: #252627; display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical; overflow-y: hidden; }
.item-blurb { max-width: 300px; }

.imglisthero { width: 100%; height: 100%; }

.item-data.badge-round { font-size: 14px; font-weight: 700; line-height: 1.29em; color: #bf1313; font-family: 'ff-din-round-web-pro',sans-serif; }
.slotter-item { display: -webkit-box; display: -ms-flexbox; display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; -webkit-align-items: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; margin: 24px 0;}

.comment-count { font-family: 'ff-din-round-web-pro',sans-serif; color: #bf1313;}
.comment-count .icon-comment { top: 3px; position: relative; margin: 0 0.2em 0 0; }
.comment-count:before { content: '-'; display: inline-block; margin: 0 6px; }

.right-side.featured.badge-round { font-weight: bold; }
.five-up-header { display: -webkit-box; display: -ms-flexbox; display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; -webkit-align-items: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; font-size: 24px; font-weight: 900; line-height: 1.89; margin-top: 16px; margin-left: 6px; margin-bottom: 6px;}

img.hero { width:100%; height:100%; max-width:100%;}

.herogrid { display: -ms-grid; grid-template-columns: [mainContent-start] 66% [mainContent-end rightRail-start] 33% [rightRail-end]; display: grid; margin: 0 auto; background-color: #FFF; -ms-grid-columns: 66% 33%; margin: 0 auto; background-color: #FFF;}

.herotitle { font-size: 36px; font-weight: 900; line-height: 1.89; }
.herotitle svg { position: relative; top: 4px; }
.right-rail { flex: 0 0 300px; grid-area: rightRail; -ms-grid-column: 2;}
.main-content { flex: 1 1 40%; grid-area: mainContent; margin-right: 24px; }

.indextitle { margin-top: 10px; margin-bottom: 5px; }
.indexFilter .filterlist { padding: 0 0 15px 0; margin: 0 20px 0px 0px; display: inline-block; vertical-align: top; }
.indexFilter .filterlist > li { display: inline-block; vertical-align: middle; padding: 10px; min-width: 95px; cursor: pointer; height: 32px; line-height: 32px; border-radius: 4px; font-size: 18px; text-align: left; color: #252627; color: rgba(37,38,39,.6); }
.indexFilter .filterlist > li.active a { color: #bf1313; stroke: #bf1313; }
.indexFilter .filterlist > li.active svg g { stroke: #bf1313; }
.indexFilter .filterlist a { color: #252627; color: rgba(37,38,39,.6); }
.indexFilter .filterlist svg { margin-right: 10px; vertical-align: top; display: inline-block; }


section h2 { font-size: 36px; color: #000; font-weight: 900; letter-spacing: -0.5px; line-height: 1.2em; display: block; margin: 0px 0px 18px 0px; font-family: 'ars-maquette-web',sans-serif; }
section > h3 { color: #000; margin: 0px; padding: 0px; }
section a { text-decoration: none; }

button, input, optgroup, select, textarea {
    font-size: 100%;
    line-height: 1.15;
}

ul.listselector { padding: 0px 0px 15px 0px; display: inline-block; list-style-type: none; vertical-align: top; height: 32px; margin: 0px; }
ul.listselector li { display: inline-block; vertical-align: top; height: 32px; padding: 10px 15px 10px 10px; white-space: nowrap; line-height: 32px; }
ul.listselector select { width: 120px; }
ul.listselector li > span { padding-right: 5px; }

.toggle.checked.segmentfilter {
    background-color: #bf1313;
    border: solid 1px #bf1313;
}
.toggle.segmentfilter {
    display: inline-block;
    position: relative;
    width: 45px;
    height: 28px;
    border-radius: 150px;
    border: solid 1px #bdc1c9;
    -webkit-transition: background-color 0.1s linear;
    -webkit-transition: background-color 0.1s linear;
    transition: background-color 0.1s linear;
    vertical-align: middle;
    outline: none;
    margin: 0;
    cursor: pointer;
}

.toggle.checked.segmentfilter .toggle-indicator.segmentfilter {
    background-color: #fff;
    left: 44%;
}
.toggle-indicator.segmentfilter {
    display: block;
    position: absolute;
    width: 22px;
    height: 22px;
    margin: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    border-radius: 50%;
    left: 5%;
    background-color: #bdc1c9;
    -webkit-transition: left,background-color,0.1s linear;
    -webkit-transition: left,background-color,0.1s linear;
    transition: left,background-color,0.1s linear;
}

.toggle.segmentfilter input.segmentfilter {
    display: none;
}
section.stripe { margin-bottom: 5px; }

section.broll {
    display: -ms-grid; grid-template-columns: [mainContent-start] auto [mainContent-end rightRail-start] 320px [rightRail-end];
    display: grid; margin: 0 auto; background-color: #FFF; -ms-grid-columns: auto 320px;
    max-width: 1200px;
}

section.broll div.tbl { grid-area: mainContent; -ms-grid-column: 1; -ms-grid-row: 2; margin-right: 0; }
section.broll div.side-ad-trail { grid-area: rightRail; -ms-grid-row: 2; -ms-grid-column: 2; }



@media (max-width: 600px) {
    section.broll div.tbl { display: block}
}


@media (max-width: 930px) {
    section.herogrid { display: block }
    .main-content { margin-right: 0px; }
    section.herogrid .right-rail { display: none; }
    section.broll div.tbl { margin-right: 0; }
    .indexFilter .filterlist > li { font-size: 16px; }
    ul.listselector { height: auto; }
    #listselector-reviewscores, #listselector-sort { display: none; }
    section.broll div.tbl { margin-right: 0; }
    section.broll { display: block; }
    section.broll .side-ad-trail { max-width: 320px; margin: 0 auto; }
    section.broll img.thumb {max-width: 100%; max-height: 100% }
    section.broll div.t { display: block; width: 100%; max-width: 100% }
    section.broll div.m { display: block; width: 100%; max-width: 100% }
    section.herogrid.wrap { padding: 0}
}

@media (max-width: 1200px) {
    section.broll h3 { margin: 0 0 6px 0; }
    section.broll h3 a { font-size: 14px; }
}

@media (max-width:1281px){
    .item-blurb.badge-round {
        -webkit-line-clamp: 1;
    }
    .slotter-item {
        margin: 18px 0;
    }
    .grid {
        grid-template-columns: [mainContent-start] 3fr;
        display: grid;
        margin: 0 auto;
    }
    .left-rail {
        display: none;
    }
}