{{ define "admin/index/index.tmpl" }}
    {{template "admin/includes/meta" .}}
    {{template "admin/includes/header" .}}
    {{template "admin/layouts/memu" .}}
    {{template "admin/includes/footer" .}}
{{ end }}