{{ define "admin/includes/footer" }}
    <script type="text/javascript" src="{{SiteConfig.STATIC_URL}}plugin/jquery/1.8.2/jquery.min.js"></script>
    <script type="text/javascript" src="{{SiteConfig.STATIC_URL}}plugin/layer/layer.js"></script>
    <script type="text/javascript" src="{{SiteConfig.STATIC_URL}}admin/mx_base/js/H-ui.js"></script>
    <script type="text/javascript" src="{{SiteConfig.STATIC_URL}}admin/mx_admin/js/H-ui.admin.js"></script>
    <script type="text/javascript" src="{{SiteConfig.STATIC_URL}}js/yzm_common.js"></script>
    <script>$(".table").wrap('<div class="yzm-table-box"></div>');</script>
{{ end }}