{{ define "admin/layouts/memu" }}
<div class="yzm-menubox">
    <aside class="Hui-aside">
        <aside class="Hui-aside">
            {{range $i, $v := .Menu}}
            <div class="menu_dropdown">
                <dl id="{{$i}}-menu">
                    <dt class="selected"><i class="Hui-iconfont"></i>{{$v.Name}}<i
                                class="Hui-iconfont menu_dropdown-arrow"></i></dt>
                    <dd {{if eq $i 0}}
                            style="display:block;"
                        {{end}}>
                        <ul>
                            {{range $child_key, $child_value := $v.Child}}
                                <li><a href="javascript:void(0)" _href="{{with $url := printf "/%s/%s" $child_value.C $child_value.A}}{{urlfor $url}}{{end}}" data-title="{{$child_value.Name}}">{{$child_value.Name}}</a>
                                </li>
                            {{end}}
                        </ul>
                    </dd>
                </dl>
            </div>
            {{end}}

        </aside>
    </aside>
</div>
<div class="dislpayArrow hidden-xs"><a class="pngfix" href="javascript:void(0);" onClick="displaynavbar(this)"></a>
</div>
{{ end }}